* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.heading {
  text-align: center;
  color: #14080e;
}
h1 {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #dceed1;
}
.top-buttons {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 20px;
  border: 2px dotted;
  gap: 2px;
}
.new-notes {
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: #7a918d;
  color: white;
}
.mode {
  padding: 10px 20px;
  background-color: #7a918d;
}
.main-content {
  border: 2px dotted;
  display: grid;
  height: auto;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 40vh 40vh;
  gap: 10px;
}

.close {
  text-align: right;
  height: auto;
  width: auto;
  right: 1px;
}
.cross {
  border: none;
  background-color: #272d2d;
  border-top-right-radius: 5px;
}
.cross:hover {
  background-color: red;
  border-bottom-left-radius: 5px;
}
.notes-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #272d2d;
  border-radius: 10px;
  color: white;
}
.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  padding-left: 10px;
}
.massege {
  height: 80%;
  width: 90%;
  padding-left: 10px;
  margin-top: 10px;
}
/* dialog box work */
dialog {
    width: 50vw;
    height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  background-color: #272d2d;
}

.close-dialog {
  text-align: right;
  height: auto;
  width: auto;
  right: 1px;

}
.cross-dialog {
  border: none;
  background-color: #272d2d;
border-radius: 5px;
}
.cross-dialog:hover {
  background-color: red;

}
.title-dialog {
    width: 90%;
}
.title-input {
    padding: 4px;
    width: 100%;
}
.notes-input-box{
    width: 100%;
    height: 100%;
}
.notes-input {

 width: 100%;
 height: 100%;
 padding-bottom: 35%;

}
.add-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.save-button {
    
    padding: 10px 20px;
    background-color: #799496;
    border: none;
    color: white;
}